/* Textkoerper */

/*
 *  Backend/Admin
 */
.text-left {
  text-align: left;
}
.text-bold {
  font-weight: bold;
}

/*
 *  Frontend
 */
#wrapperAdvent {
  float: left;
  height: 100%;
  width: 100%;
  padding: 0;
  padding-bottom: 30px;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  //
  a {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
#contentAdvent {
  float: left;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  /* Seiten-Hintergrundgrafik */
  background-image: url(/wp-content/themes/CampusRadioJenaWPTemplate/images/advent/himmel02.jpg);
  background-repeat: repeat-x;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
//
.container {
  //
  .title,
  .sub-title {
    padding-right: 10px;
    padding-left: 10px;

    @media (min-width: 576px) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

/* content_info_header */
#contentAdvent_info {
  position: absolute;
  top: 10%;
  float: left;
  margin-left: 5%;
  height: 20%;
  width: 15%;
  padding: 20px;
  text-align: left;
  // background-color:#6889BC;*/
  color: #fff;
  // border:1px solid #D5D0F4;*/
  z-index: 2;
}
#contentAdvent_info_header {
  text-transform: uppercase;
}
#contentAdvent_info_header {
  width: 100%;
  float: left;
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
}
#contentAdvent_info_header_text {
  padding-top: 5%;
  width: 100%;
  float: left;
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
}
body {
  // background-color: #000;
}
.goBack {
  color: #fff;
}
h1,
h2 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.advent-post-header {
  padding: 0;
  margin: 0;
  float: left;
  margin-top: 2%;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}
.advent-post-content {
  padding: 0;
  // margin: 0;
  margin: 3%;
  width: 94%;
  float: left;
  text-align: center;
}
.advent-post-footer {
  width: 100%;
  float: left;
  text-align: center;
  padding-top: 2%;
}
#content_tree {
  float: left;
  width: 70%;
  padding-top: 3%;
  padding-left: 30%;
}
// header
#headerAdvent {
  padding: 0;
  margin: 0;
  width: 100%;
  float: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
  color: #5c6ae9;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: FFFFDD;
}
//
.boxAdvent,
#boxAdvent_error {
  position: absolute;
  top: 10%;
  float: left;
  margin-left: 25%;
  height: 50%;
  width: 50%;
  z-index: 5;
  background-color: #fff;
  color: #000;
}
#adventTree {
  position: relative;
  background-image: url(/wp-content/themes/CampusRadioJenaWPTemplate/images/advent/tree24-01.gif);
  height: 660px;
  width: 550px;
}
#adventTree ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
// Linkbezeichnungen verschwinden lassen
#adventTree a {
  position: absolute;
  text-indent: -1000em;
  background-image: url(/wp-content/themes/CampusRadioJenaWPTemplate/images/advent/button_bg.gif);
  outline: none;
}
#adventTree a:hover {
  border: 3px solid #a80000;
}

/*
#adventTree .tag01 a {
  top: 148px;
  left: 425px;
  width: 30px;
  height: 30px;
}
#adventTree .tag02 a {
  top: 398px;
  left: 314px;
  width: 30px;
  height: 30px;
}
#adventTree .tag03 a {
  top: 472px;
  left: 579px;
  width: 30px;
  height: 30px;
}
#adventTree .tag04 a {
  top: 272px;
  left: 78px;
  width: 30px;
  height: 30px;
}
#adventTree .tag05 a {
  top: 174px;
  left: 526px;
  width: 30px;
  height: 30px;
}
#adventTree .tag06 a {
  top: 276px;
  left: 215px;
  width: 30px;
  height: 30px;
}
#adventTree .tag07 a {
  top: 290px;
  left: 482px;
  width: 30px;
  height: 30px;
}
#adventTree .tag08 a {
  top: 56px;
  left: 580px;
  width: 30px;
  height: 30px;
}
#adventTree .tag09 a {
  top: 323px;
  left: 326px;
  width: 30px;
  height: 30px;
}
#adventTree .tag10 a {
  top: 467px;
  left: 463px;
  width: 30px;
  height: 30px;
}
#adventTree .tag11 a {
  top: 207px;
  left: 165px;
  width: 30px;
  height: 30px;
}
#adventTree .tag12 a {
  top: 137px;
  left: 324px;
  width: 30px;
  height: 30px;
}
#adventTree .tag13 a {
  top: 425px;
  left: 569px;
  width: 30px;
  height: 30px;
}
#adventTree .tag14 a {
  top: 392px;
  left: 384px;
  width: 30px;
  height: 30px;
}
#adventTree .tag15 a {
  top: 306px;
  left: 142px;
  width: 30px;
  height: 30px;
}
#adventTree .tag16 a {
  top: 416px;
  left: 520px;
  width: 30px;
  height: 30px;
}
#adventTree .tag17 a {
  top: 180px;
  left: 231px;
  width: 30px;
  height: 30px;
}
#adventTree .tag18 a {
  top: 76px;
  left: 464px;
  width: 30px;
  height: 30px;
}
#adventTree .tag19 a {
  top: 211px;
  left: 444px;
  width: 30px;
  height: 30px;
}
#adventTree .tag20 a {
  top: 328px;
  left: 541px;
  width: 30px;
  height: 30px;
}
#adventTree .tag21 a {
  top: 249px;
  left: 370px;
  width: 30px;
  height: 30px;
}
#adventTree .tag22 a {
  top: 369px;
  left: 214px;
  width: 30px;
  height: 30px;
}
#adventTree .tag23 a {
  top: 358px;
  left: 444px;
  width: 30px;
  height: 30px;
}
#adventTree .tag24 a {
  top: 228px;
  left: 297px;
  width: 30px;
  height: 30px;
}
*/
